/*CONFIGURAÇÕES GERAIS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
background-color: yellow;
color: blue;
line-height: 1.5;
}

/*CABEÇALHO, BANNER E PERFIL*/
.cabecalho{
    background-color: bisque;
    border-bottom: 2px solid #96bbd0;
    padding-bottom: 20px;queor a
}